extends layout

block content

    #homebox
        #mia-controls 
            button.bleed-btn Bleed
            button.glitch-btn Glitch
            button.glitch-listener-btn Add glitch listeners
            button.dingbat-listener-btn Add dingbat listeners
            button.reset-btn Reset
            button.mia-crying-btn Crying
            button.mia-bleeding-btn Bleeding
            button.add-channel-btn New Channel
            button.hide-btn Hide

        #server-icons
            .server-icon.discord-icon-box
                .server-icon-image.discord-icon(style="background-image: url('/images/discord.png')")
            .server-bar
            .server-icon.notification
                .server-icon-image(style="background-image: url('/images/odin.webp')")
            .server-icon.selected
                .server-icon-image.mia(style="background-image: url('/images/mia.webp')")
            .server-icon.server-option.plus-server
                .server-icon-image.new-channel.green-icon(style="background-image: url('/images/plus2.svg')")
            .server-icon.notification.server-option
                .server-icon-image.green-icon(style="background-image: url('/images/compass.png')")
        #server-content

            #channel-list.mobile
                #channels-header.header 
                    .discord-channel-header.glitchable Discord IM
                    img.icon(src='images/chevron-down.svg')
                #text-channels
                    - var textChannels = ['welcome', 'general', 'memes']
                    .channel-header 
                        img.icon(src='images/chevron-down.svg')
                        div.glitchable TEXT CHANNELS
                    each channel in textChannels 
                        .text-channel.channel(class=`${channel === 'general' ? 'selected' : ''}` id=`${channel}`)
                            img.icon(src='images/hashtag-base.png')
                            .text-channel-name.glitchable= channel

                #voice-channels
                    - var voiceChannels = ['welcome', 'general']
                    .channel-header 
                        img.icon(src='images/chevron-down.svg')
                        div.glitchable VOICE CHANNELS
                    each channel in voiceChannels 
                        .voice-channel(id=`${channel}-voice`)
                            img.icon(src='images/sound.png')
                            .voice-channel-name.glitchable= channel 
                
                #channel-filler(style='flex-grow: 1')

                #user-info
                    - var  code = Math.floor(Math.random() * 9999)

                    if user
                        #user-info-data
                            .user-pic 
                                .pic-dingbat.glitchable= user.pic
                                .user-online-circle  
                            #user-data
                                div.glitchable= user.username
                                div.glitchable(style='filter: opacity(0.7)')= user.code ? `#${user.code}` : `#${code}`

                    #user-info-icons
                        img(src='images/mic.png')
                        img(src='images/headphones.png')
                        img(src='images/gear.png')


            #messages-container
                .blood1.blood(style="background-image: url('/images/blood1.webp')")
                .blood2.blood(style="background-image: url('/images/blood2.webp')")
                each channel in ['welcome', 'general', 'memes']
                    .message-box(class=`${channel} visible`)
                        img.icon.plus-icon(src='images/plus.svg')

                        if user
                            form(action='/add-message' id='message-form' method='POST')
                                input(type='text' value=`${channel}` name='channel' hidden)
                                input(type='text' value=`${user.username}` name='username' hidden)
                                input(type='text' value=`${user.pic}` name='pic' hidden)
                                input(type='text' name='message' placeholder=`Message #${channel}` autocomplete="off")
                                input(type='submit' hidden)
                        else
                            div.placeholder.glitchable Sign in to post!
                        img.icon(src='images/gift.png')
                        img.icon(src='images/gif.png')
                        img.icon(src='images/file.png')
                        img.icon(src='images/smile.png')

                    .messages.custom-scroll(class=`${channel} visible`)
                        if data.message_list
                            .messages-filler(style='flex-grow: 1')
                            each message in data.message_list
                                if message.channel === channel
                                    .message
                                        .user-pic 
                                            .pic-dingbat.glitchable= message.pic 
                                        .message-content
                                            .message-username.glitchable(style=`${message.username === 'roboseb' ? 'color: aquamarine' : ''}` class=`${user && user.member ? '' : 'redacted'}`)= message.username
                                                - var recentDate = false 
                                                - var date = new Date()
                                                - var hours = message.postDate.getHours()
                                                - var am = true
                                                if message.postDate && date.toLocaleDateString("en-US") === message.postDate.toLocaleDateString("en-US")
                                                    - recentDate = true
                                                if recentDate 
                                                    if hours > 11
                                                        - am = false
                                                        if hours > 12 
                                                            - hours = hours - 12
                                                    if hours === 0
                                                        - hours = 12 

                                                .message-date.glitchable9(class=`${user && user.member ? '' : 'redacted'}`)= recentDate ? `Today at ${hours}:${message.postDate.getMinutes()} ${am ? 'am' : 'pm'}` : message.postDate.toLocaleDateString("en-US")
                                            .message-text.glitchable(class=`${user && user.member ? '' : 'redacted-text'}`)= message.message
                                        if user && user.admin
                                            .delete-message-btn Delete

                                        
                                        
                    
                    .messages-header.header(class=`${channel} visible`)
                        div.messages-channel-name
                            img.burger-btn(src='images/menu.svg')
                            div.glitchable= `# ${channel}`
                        .messages-header-icons 
                            img.icon(src='images/hashtag.png')
                            img.icon(src='images/bell.png')
                            img.icon(src='images/pin.png')
                            img.icon.users-btn(src='images/users.png')

            #user-list-container
                #user-list.custom-scroll
                    #user-list-header.header
                        #help-panel.hidden
                            p Hey, Seb here. This project is my submission for the Odin Project's Members-only project. Project project project.
                            p Obviously, it's "loosely" based on discord's layout. The UI that I took from discord only extends to this home page, so you can't make servers, channels, friends, or any other complex stuff. You can, however, sign up and send messages to three different channels.
                            p Ever read a creepypasta? This is my representation of what a discord creepypasta would look like. I imagine something similar to this has already been written, but I literally haven't read a creepypasta since discord launched, so I have no idea. 
                            p Many elements of this page seem to do nothing. They are actually slowly breaking the app thanks to Mia, the sentient AI.
                            p The membership page is a puzzle. Within the apply button and the attached sticky note, you should fint all the hints you need, but you'll still need to think a little to solve it. There are actually two solutions, and only the "true" solution will grant membership.
                            h3 Credits
                            ul 
                                li Blood art - Shutterstock #[a(href='https://www.shutterstock.com/image-photo/blood-drips-oozing-down-macro-111537161') (shutterstock)]
                                li Glitched text effect - Christine Banlawi #[a(href='https://codepen.io/cbanlawi/pen/xxRBeMY') (codepen)]
                                li Uni Sans font - Dafontfree #[a(href='https://www.dafontfree.io/uni-sans-font/') (dafontfree)]
                                li Rakugaki dingbats - Dafont #[a(href='https://www.dafont.com/rakugaki.font') (dafont)]
                                li Most SVG icons - Feathericons #[a(href='https://feathericons.com/') (feathericons)]
                                li Other icons - Icons8 #[a(href='https://icons8.com/') (icons8)]
                                li Odin icon - ripped from discord #[a(href='https://cdn.discordapp.com/icons/505093832157691914/45da89e7ff07681319bfc6b66e969abe.webp?size=96') (discord CDN)]
                                li Mia icon - Me, your boy #[a(href='https://roboseb.github.io/portfolio/') (seb's portfolio)]

                        #searchbar
                            input(type='text' placeholder='Search')
                            img.icon
                        #user-list-header-icons
                            img.icon(src='images/inbox.png')
                            img.icon.help-btn(src='images/help.png')

                    .user-list-category.glitchable MIA - 1
                    .user-list-user 
                        .user-pic.mia-pic
                            .pic-dingbat.glitchable(style='color: transparent') a
                            .mia-dingbat.mia(style='background-image: url("/images/mia.webp")')
                            .user-online-circle.mia-circle
                        .user-list-username(style='color: hotpink').glitchable mia

                    .user-list-category.glitchable= `ONLINE - ${data.user_count}` 
                    each user in data.user_list 
                        .user-list-user 
                            .user-pic 
                                .pic-dingbat.glitchable= user.pic 
                                .user-online-circle 
                            .user-list-username.glitchable(style=`${user.username === 'roboseb' ? 'color: aquamarine' : ''}`)= user.username



